* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    font-family: cursive;
    font-size: 1.4cm;
    color: rgb(0, 0, 0);
    padding-left: 2%;
    user-select: none;
  }
  
  header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    backdrop-filter: blur(30px);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .navigaton a {
    font-family: chalkduster;
    position: relative;
    font-size: 5mm;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigaton a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -5px;
    background: rgb(191, 190, 182);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigaton a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .navigaton .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .5cm;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s ease;
  }
  
  .navigaton .btnlogin-popup:hover {
    background: black;
    color: white;
  }
  
  /* parallax scroll */
  .parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 100%;
    background-image: url('https://www.allrecipes.com/thmb/QtU2hNPjzh3evdXnXxFyHHx5ANM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/220619-real-homemade-bagels-DDMFS-4x3-b663102a2b024f0cb2adc35b20f5a120.jpg'); /* Replace 'pies1a.jpg' with your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5; /* Opacity of the image */
  }
  
  .parallax-content {
    position: absolute;
    margin-top: 400px;
    margin-left: 680px;
    margin-right: 50px;
    /* margin-right: 400px; */
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
  
  
  .parallax-content p {
    font-size: 1.4em;
  }
  
  
  /* details */
  
  .main-container {
    display: flex;
  }
  
  .details-container {
    flex: 1;
    padding: 20px;
  }
  
  .details{
    font-size: 20px;
  
  }
  
  /* ingrediants */
  .ingredients-container {
    flex:0.5;
    margin-right: 40px;
    height: 800px;
  
  }
  
  .container {
    background-color: #d3d0d0; /* Grey background color */
    display: flex;
    height: 95%;
  }
  
  .text {
    margin-left: 20px;
  }
  
  /* process */
  .wrap{
    background-color: rgb(255, 227, 231);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .wrap-text{
    margin-left: 30px;
    margin-right: 30px;
  }
  
  /* process img */
  .pro-img{
    margin-left: 19%;
  }