* {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    font-family: cursive;
    font-size: 1.4cm;
    color: rgb(0, 0, 0);
    padding-left: 2%;
    user-select: none;
  }
  
  header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    backdrop-filter: blur(30px);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .navigaton a {
    font-family: chalkduster;
    position: relative;
    font-size: 5mm;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigaton a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -5px;
    background: rgb(191, 190, 182);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigaton a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .navigaton .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .5cm;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s ease;
  }
  
  .navigaton .btnlogin-popup:hover {
    background: black;
    color: white;
  }

body{
    margin: 10px;
    background-image: url("https://i.pinimg.com/564x/e5/b2/6f/e5b26f4964d5fa6d35a39fc3ae65633b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#h1{
    text-align: center;
}
#menu{
    margin-right: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-left: 100px;
    flex-wrap: wrap;
}
#a{
    text-decoration: none;
    color: black;
}
#soft-dinner-rolls{
    padding:50px;
}
#bagels {
    padding:50px;
}
#pretzels {
    padding:50px;
}
#banana-bread{
    padding:50px;
}
#pizza-dough{
    padding:50px;
}
#artisan-bread{
    padding:50px;
}
#soft-dinner-rolls div{
    transition: transform 0.3s ease-in-out;
}
#soft-dinner-rolls div:hover{
    transform: scale(1.1);
}
#bagels div{
    transition: transform 0.3s ease-in-out;
}
#bagels div:hover{
    transform: scale(1.1);
}
#pretzels div{
    transition: transform 0.3s ease-in-out;
}
#pretzels div:hover{
    transform: scale(1.1);
}
#banana-bread div{
    transition: transform 0.3s ease-in-out;
}
#banana-bread div:hover{
    transform: scale(1.1);
}
#pizza-dough div{
    transition: transform 0.3s ease-in-out;
}
#pizza-dough div:hover{
    transform: scale(1.1);

}
#artisan-bread div{
    transition: transform 0.3s ease-in-out;
}
#artisan-bread div:hover{
    transform: scale(1.1);
}
h3{
    text-decoration: none;
}
.quick-bread-reciepes{
    background-color: white;
}